<html lang="en">    
<head>    
<title>Java Theory DA | 19BCE0647</title>
<link th:href="@{main.css}" rel="stylesheet" />    
</head>    
<body>    
    <h1>Check if a number is Armstrong or not</h1>
	<form th:action="@{/checkArmstrong}" method="get" id="input-form">    
	<table>    
	<tr>    
		<p for="name" id="label-text">Enter a number: </p>    
		<td><input type="number" name="name"></input></td>    
 	</tr>       
		<td></td> 
        <tr>   
		<td><input type="submit" value="SUBMIT" id="submit-button"></input></td>    
	</tr>    
	</table>    
	</form>    
</body>    
</html>  